.lbu-layout{
    
    &__pane{
        margin-top: 35px;
    }

    @media screen and (min-width: 700px){
        display: flex;
        flex-direction: row;

        &__sidebar{
            width: 300px;
        }

        &__pane{
            margin-top: 0px;
            width: 100%;
        }
    }
}

.lbu-visually-hidden{
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
    overflow: hidden;
    
    + * {
        margin-top: 0px;
    }
}

.lbu-red-link:link{
    margin-left: 10px;
    color: map-get($lbh-colours, "lbh-error");
    &:focus{
        color: inherit;
    }
}